head
    meta(http-equiv='content-type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0;')
    meta(name='format-detection' content='telephone=no')
    style.
        /* Reset styles */
        body { margin: 0; padding: 0; min-width: 100%; width: 100% !important; height: 100% !important;}
        body, table, td, div, p, a { -webkit-font-smoothing: antialiased; text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; line-height: 100%; }
        table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse !important; border-spacing: 0; }
        img { border: 0; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; }
        #outlook a { padding: 0; }
        .ReadMsgBody { width: 100%; } .ExternalClass { width: 100%; }
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }
        /* Rounded corners for advanced email clients only */
        @media all and (min-width: 560px) {
            .container { border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -khtml-border-radius: 8px; }
        }
        /* Set color for auto links (addresses, dates, etc.) */
        a, a:hover {
            color: #FFFFFF;
        }
        .footer a, .footer a:hover {
            color: #828999;
        }
    // MESSAGE SUBJECT
    title #{subject}
// SECTION / BACKGROUND
// Set message background color one again
table.background(style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%;' width='100%' cellspacing='0' cellpadding='0' border='0' align='center')
    tbody
        tr
            td(style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;' valign='top' bgcolor='#2D3445' align='center')
                // WRAPPER
                // Set wrapper width (twice)
                table.wrapper(style='border-collapse: collapse; border-spacing: 0; padding: 0; width: inherit;\
        max-width: 500px;' width='500' cellspacing='0' cellpadding='0' border='0' align='center')
                    tbody
                        // SUPHEADER
                        tr
                            td.supheader(style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 14px; font-weight: 400; line-height: 150%; letter-spacing: 2px;\
              padding-top: 27px;\
              padding-bottom: 0;\
              color: #FFFFFF;\
              font-family: sans-serif;' valign='top' align='center')
                                | Hi, #{user.firstName}
                        // HEADER
                        tr
                            td.header(style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;  padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 24px; font-weight: bold; line-height: 130%;\
              padding-top: 5px;\
              color: #FFFFFF;\
              font-family: sans-serif;' valign='top' align='center')
                                | Please confirm your email
                        // PARAGRAPH
                        tr
                            td.paragraph(style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 17px; font-weight: 400; line-height: 160%;\
              padding-top: 15px;\
              color: #FFFFFF;\
              font-family: sans-serif;' valign='top' align='center')
                                | You&apos;ll just have to click the button below, if it doesn&apos;t work, please visit the following link:
                                br
                                | #{data.link}
                        // BUTTON
                        tr
                            td.button(style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;\
              padding-top: 25px;\
              padding-bottom: 5px;' valign='top' align='center')
                                a(href=`${data.link}` target='_blank' style='text-decoration: underline;')
                                    table(style='max-width: 240px; min-width: 120px; border-collapse: collapse; border-spacing: 0; padding: 0;' cellspacing='0' cellpadding='0' border='0' align='center')
                                        tbody
                                            tr
                                                td(style='padding: 12px 24px; margin: 0; text-decoration: underline; border-collapse: collapse; border-spacing: 0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px;' valign='middle' bgcolor='#007bff' align='center')
                                                    a(target='_blank' style='text-decoration: underline;\
                          color: #FFFFFF; font-family: sans-serif; font-size: 17px; font-weight: 400; line-height: 120%;' href=`${data.link}`)
                                                        | Confirm Account
                        // LINE
                        // Set line color
                        tr
                            td.line(style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;\
              padding-top: 30px;' valign='top' align='center')
                                hr(style='margin: 0; padding: 0;' width='100%' size='1' noshade='' color='#565F73' align='center')
                        // FOOTER
                        tr
                            td.footer(style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 13px; font-weight: 400; line-height: 150%;\
              padding-top: 10px;\
              padding-bottom: 20px;\
              color: #828999;\
              font-family: sans-serif;' valign='top' align='center')
                                | Visiter Feezless à
                                a(href=`${frontURL}` target='_blank' style='text-decoration: underline; color: #828999; font-family: sans-serif; font-size: 13px; font-weight: 400; line-height: 150%;') Feezless
                                |  :).
                                // ANALYTICS
                                // https://www.google-analytics.com/collect?v=1&tid={{UA-Tracking-ID}}&cid={{Client-ID}}&t=event&ec=email&ea=open&cs={{Campaign-Source}}&cm=email&cn={{Campaign-Name}}
                                img(style='margin: 0; padding: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block;' src='' width='1' vspace='0' hspace='0' height='1' border='0')
                        // End of WRAPPER
                // End of SECTION / BACKGROUND
